GMAIL_USER=example@gmail.com
GMAIL_APP_PASSWORD="xxx"
OPENAI_API_KEY="xxx"
BOT_TOKEN="xxx"
SHEET_ID="xxx"
TG_ID="xxx"

# Do not chnage the following lines if you aren't going to modify the code
# Just rename this file into ".env" instead of ".env.example"

DATABASE_MAIL_PROCESSOR_URL="postgresql+psycopg://admin:password@postgres-mail-processor:5432/postgres"
DATABASE_GOOGLE_SHEETS_ACCESSOR_URL="postgresql+psycopg://admin:password@postgres-google-sheets-accessor:5432/postgres"
DATABASE_MAIL_MAPPER_URL="postgresql+psycopg://admin:password@postgres-mail-mapper:5432/postgres"

CLASSIFY_BY_CENTROID_THRESHOLD=0.55
CLASSIFY_BY_CENTROID_THRESHOLDS="applied:0.6, meeting_inv:0.55, meeting_action:0.55, offer:0.55, denied:0.6, pending:0.55"
CLASSIFY_BY_CENTROID_MARGIN=0.01
CLASSIFY_BY_CENTROID_COMMIT_BATCH_SIZE=10
CLASSIFY_BY_CENTROID_THRESHOLD_MULTIPLIER=0.78

HUNGARIAN_MIN_MATCH_SCORE=0.5
