*/vendor/
.vscode/
.venv/
.env
*/.env
temp.json
AGENTS_ADDITION.md

**/__pycache__/
**/cover.out
**/secrets
**/pyvenv.cfg
**/.ruff_cache
application-embedding-generator/application-embedding-generator
